/*
CUSTOM SYLES
*/

body {
  min-height: 100vh;
  background-color: #e4f0fd;
}

/*
NAVBAR
*/

.navbar.navbar-dark {
  background-color: #707f90;
}

.navbar-brand {
  margin-left: 40px;
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

/*
MAIN
*/
main {
  background-color: white;
}
